.keskeleYlemine {
  justify-content: center;
  display: flex;
  padding-top: 100px;
}

.keskeleKeskmine {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.keskeleAlumine {
  justify-content: center;
  display: grid;
  place-items: center;
  padding-top: 20px;
}

.border-red {
  border-color: red;
}

.sonaveeb {
  justify-content: center;
  display: flex;
  padding-top: 5px;
}
