.infoHelper {
  position: relative;
  display: flex;
  left: 10px;
  top: 50px;
  border-radius: 20px;
}

.switchButtons {
  position: relative;
  display: flex;
  left: 25%;
}

.oiged {
  position: relative;
  display: flex;
  left: 48.5%;
  top: 2%;
}
